  name: tests
  on:
    push:
      paths-ignore:
        - "**/README.md"
  jobs:
    build:
      name: Build and test
      runs-on: ubuntu-latest
      steps:
        - name: Setup GHC
          uses: haskell/actions/setup@v1
          with:
            ghc-version: "8.10.2"
            enable-stack: true

        - name: Clone project
          uses: actions/checkout@v2

        - name: Install packages
          run: stack install hpc-codecov

        - name: Cache dependencies
          uses: actions/cache@v1
          with:
            path: ~/.stack
            key: ${{ runner.os }}-${{ hashFiles('stack.yaml') }}
            restore-keys: |
              ${{ runner.os }}-

        - name: Run tests
          run: "stack --no-terminal build --test --pedantic --fast --system-ghc"

        - name: Lint
          run: curl -sSL https://raw.github.com/ndmitchell/neil/master/misc/travis.sh | sh -s -- hlint src/ app/
