  name: tests
  on:
    pull_request:
    push:
      branches:
        - master
      paths-ignore:
        - "**/README.md"

  jobs:
    build:
      name: CI
      runs-on: ubuntu-latest
      steps:
        - name: Setup GHC
          uses: haskell/actions/setup@v1
          with:
            ghc-version: "8.10.2"
            enable-stack: true

        - name: Install packages
          run: "stack install hpc-codecov"

        - name: Clone project
          uses: actions/checkout@v2

        - name: Cache dependencies
          uses: actions/cache@v1
          with:
            path: ~/.stack
            key: ${{ runner.os }}-${{ hashFiles('stack.yaml') }}
            restore-keys: |
              ${{ runner.os }}-

        - name: Build and run tests
          run: "stack --no-terminal build --test --pedantic --fast --coverage --system-ghc"
          run: "hpcroot=$(stack path --local-hpc-root)"
          run: "tix=$(find $hpcroot -name 'jsoner-test.tix')"
          run: "mix=$(stack path --dist-dir)/hpc"
          run: "hpc-codecov --mix=$mix --exclude=Paths_hpc_codecov -o codecov.json $tix"
          run: "bash <(curl -s https://codecov.io/bash)"
